<div id="main">
  <h1 id="title">Fedor Emelianenko</h1>
  <div id="img-div">
    <img id="image" src="https://www.telegraph.co.uk/content/dam/mma/2018/04/26/TELEMMGLPICT000161626313_trans_NvBQzQNjv4BqpVlberWd9EgFPZtcLiMQfyf2A9a6I9YchsjMeADBa08.jpeg?imwidth=450"></img>
  <h3 id="im-caption">Fedor Emlianenko</h3>
  <p id="tribute-info">edor Vladimirovich Emelianenko (Russian: Фёдор Влади́мирович Емелья́ненко, tr. Fyodor Vladimirovich Yemelyanenko, born 28 September 1976) is a Russian heavyweight mixed martial artist (MMA), sambist, and judoka, currently competing for Rizin Fighting Federation and Bellator MMA. He has won championships and accolades in multiple sports, most notably in MMA Pride Fighting Championships (heavyweight champion 2003-2007), FIAS World Combat Sambo Championship (Heavyweight Champion 2002, 2005, 2007), and Russian Judo Federation National Championship (Bronze medal 1998, 1999).<br><br>

Emelianenko began his MMA career on 21 May 2000, with four straight victories. After a controversial loss in December 2000, Emelianenko was unbeaten in his next 28 fights up until June 2010, including wins over four former UFC champions, one Pride FC champion, one former and two future K-1 champions, and two Olympic medalists.<br><br>

Emelianenko has earned numerous MMA accolades and Sports Illustrated, among other publications, named him the top MMA fighter of the 2000s. He is widely considered to be among the greatest mixed martial artists of all time and to have had the best ground-and-pound in the history of the sport.</p>
  <a id="tribute-link" target="_blank"href="https://en.wikipedia.org/wiki/Fedor_Emelianenko">Click for more information</a>
         